.btn-primary4 {
  padding:1em;
  padding-bottom:1em;
  border: .20em solid white;
  width:67.5em;
  color: #fff;
  background-color: #C04848;
  border-color: white;
}

.btn-primary5 {
  padding:1em;
  padding-bottom:1em;
  border: .20em solid white;
  width:67.5em;
  color: #fff;
  background-color: green;
  border-color: white;
}
