@import play.api.Play.resource
@import play.api.Play.current
@import models.shopping.ShopOrder
@import models.shopping.Basket
@import models.shopping.OrderItem
@import models.products.Product
@import models.products.Category

@(customer: models.users.Customer, order: List[ShopOrder])

<!-- Pass page title and user on to main -->
    @main("Order History", customer, "") {

        <div class="row">
            <div class="col-md-12">
                @if(flash.containsKey("success")) {
                    <div class="alert alert-success">
                        @flash.get("success")
                    </div>
                }
                @for(i <- order) {
                    @ShopOrder.setCount(0)
                    <table class="table table-bordered table-hover table-condensed">
                        <thead>
                            <!-- The header row-->
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Item Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <strong>@i.getFormattedDate</strong>
                        <tbody>
                            <tr>
                                <td>@i.getItems.get(0).getProduct.getName</td>
                                <td>@i.getItems.get(0).getProduct.getDescription</td>
                                <td>&euro;@("%.2f".format(i.getItems.get(0).getProduct.getPrice))</td>
                                <td>@i.getItems.get(0).getQuantity()</td>
                                <td>&euro;@("%.2f".format(i.getItems.get(0).getItemTotal))</td>
                            </tr>
                            @for( a <- 1 until i.getItems.size()) {
                                @if(i.getItems.size() - 1 > ShopOrder.getCount()) {
                                    <tr>
                                        <td>@i.getItems.get(a).getProduct.getName</td>
                                        <td>@i.getItems.get(a).getProduct.getDescription</td>
                                        <td>&euro;@("%.2f".format(i.getItems.get(a).getProduct.getPrice))</td>
                                        <td>@i.getItems.get(a).getQuantity()</td>
                                        <td>&euro;@("%.2f".format(i.getItems.get(a).getItemTotal))</td>
                                    </tr>
                                }
                            }
                            @ShopOrder.setCount(ShopOrder.getCount+1)
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <p>
                                @if(i.getCurrentDate.before(i.getOrderExpiryDate)){
                                    <a href="@routes.ShoppingCtrl.cancelOrder(i.getId())" onclick="return cancelOrder();">
                                        <button class="btn btn-danger">Cancel Order</button>
                                }
                                </a>
                                    <strong style="float: right">Order Total: &euro; @("%.2f".format(i.getOrderTotal))</strong>
                            </p>
                        </div>
                    </div>
                    <hr>
                }
            </div>
        </div>

    <script>
        // JavaScript function returns true if user clicks yes, otherwise, false
        function cancelOrder() {
            return confirm('Are you sure?');
        }
    </script>
}