@import models.products.Category
@import models.products.Product
@import models.users._
@(env: play.api.Environment, products: List[Product], filter: String, user: Customer, name : String)

<!-- Pass page title and content {html between braces} to the main view -->
@main(name, user, filter) {
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" style="text-align:center">@name!</h1>
    </div>
</div>
<!-- /.row -->

<!-- Project One -->
@for(p <- products) {
    <div class="row">
        <div class="col-md-5">
            <!-- Display each product field value in a column -->
            @if(env.resource("public/images/productImages/thumbnails/" + p.getId + ".jpg").isDefined) {
                <img class="img-responsive" src="/assets/images/productImages/@(p.getId + ".jpg")" alt="">
            } else {
                <img class="img-responsive" src="/assets/images/productImages/noImage.png"/>
            }
        </div>
        <div class="col-md-7">
            <h3>@p.getName</h3>
            <p>@p.getDescription</p>
            <a class="btn btn-success" href="@routes.ShoppingCtrl.addToBasket(p.getId)">€@p.getPrice<span class="glyphicon glyphicon-chevron-right"></span></a>
            @if(p.getTrailer() != ""){
                <a class="btn btn-danger" value="Open popup" onclick="window.open('@p.getTrailer')">Trailer<span class="glyphicon glyphicon-chevron-right"></span></a>
            }
            @if(p.getReviews().size()>0){
                <a class="btn btn-success" href="@routes.ProductCtrl.getReviews(p.getId)">Reviews<span class="glyphicon glyphicon-chevron-right"></span></a>
            }
        </div>
    </div>

    <hr>
}
<br>
}